/* LAPTOPS AND SMALLER MONITORS */
@media (max-width: 81.25em) {
  .container {
    padding: 0 var(--20px);
  }
}

/* MOBILE DEVICES */
@media (max-width: 55em) {
  .container {
    padding: 0 2.188rem;
    margin: 3.125rem auto;
    text-align: center;
  }

  .header {
    margin-bottom: 4rem;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    gap: var(--40px);
  }

  .hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    font-size: var(--24px);
  }

  .hero__description {
    line-height: 1.6;
    font-size: var(--16px);
  }

  .hero__btn {
    font-size: var(--12px);
    height: var(--40px);

    margin-bottom: var(--40px);

    box-shadow: 10px 10px 31px -4px rgba(0, 0, 0, 0.3);
  }

  .footer__social-nav {
    justify-content: center;
  }
}

/* IPAD PRO AND SIMILAR DEVICES */
@media (min-width: 56.25em) and (min-height: 84.38em) {
  .container {
    height: 100%;
    padding: 0 2.188rem;
    margin: 3.125rem auto;
    text-align: center;
  }

  .header {
    margin-bottom: 4rem;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    gap: var(--40px);

    margin-bottom: var(--40px);
  }

  .hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__btn {
    box-shadow: 10px 10px 31px -4px rgba(0, 0, 0, 0.3);
  }

  .footer__social-nav {
    justify-content: center;
  }
}
